@model hardwarestore.Models.CustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CustomerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CustomerNAme" class="control-label"></label>
                <input asp-for="CustomerNAme" class="form-control" />
                <span asp-validation-for="CustomerNAme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellNumber" class="control-label"></label>
                <input asp-for="CellNumber" class="form-control" />
                <span asp-validation-for="CellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership" class="control-label"></label>
                <input asp-for="Membership" class="form-control datepicker" />
                <span asp-validation-for="Membership" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


    <script>
  $( function() {
      $(".datepicker").datepicker({
          dateFormat:"yy-mm -dd"
      });
  } );
    </script>
